<nav class="navbar">
    <ul>
        <li>
            <a href="./starwars">Star Wars</a>
        </li>
        <li>
            <a href="./nasa">Nasa</a>
        </li>
        <li>
            <a href="./deezer">Deeezer</a>
        </li>
        <li>
            <a href="./moviedatabase">IMDB</a>
        </li>
    </ul>
</nav>