<h1>Movie Database</h1>


<div class="moviedatabase-container">
    <div class="moviedatabase-header">
        <h2 class="moviedatabase-title">{{title}}</h2>
        <p>{{released}}</p>
    </div>
    <p>Genre: {{genre}} </p>
    <p>Poster</p>
    <img src={{poster}}>
</div>